<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="warning" expand="full" (click)="recuperarPassword()">Recuperar Contraseña</ion-button>
  <ion-button color="danger" expand="full" color="light" (click)="volver()">Volver</ion-button>
</ion-content>
<ion-content>
  <div *ngIf="usuarioEncontrado" class="esponja-container">
    <img src="assets/icon/esponja.gif" class="esponja" />
  </div>
</ion-content>
