<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar"> <!-- Agrega la clase "custom-toolbar" aquí -->
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button"></ion-back-button> <!-- Agrega la clase "custom-back-button" aquí -->
      <ion-title class="app-title">Registro Clase</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" color="danger" class="center-text">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-title class="custom-card-title">Cámara</ion-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-button expand="full" (click)="abrirCamara()" class="custom-button">
        Tomar Foto
      </ion-button>
      <div *ngIf="imageSrc" class="foto-capturada">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-title class="custom-card-title">Datos Clase</ion-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-list class="custom-list">
        <ion-item>
          <p [innerHTML]="mensajeDesdePreferences"></p>
        </ion-item>
        <ion-item>
          <p *ngIf="latitude !== undefined && longitude !== undefined">
            Latitud: {{ latitude }}, Longitud: {{ longitude }}
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-title class="custom-card-title">Alumno</ion-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-list class="custom-list">
        <ion-item *ngFor="let usuario of usuarios">
          <ion-label>
            <strong>RUT:</strong> {{ usuario.rut }} <br>
            <strong>Nombre:</strong> {{ usuario.nombre }} <br>
            <strong>Apellido:</strong> {{ usuario.apellido }} <br>
            <strong>Usuario:</strong> {{ usuario.nombreLogin }} <br>
            <strong>Carrera:</strong> {{ usuario.carrera }} <br>
            
            
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>









  <!-- <ion-card>
    <ion-card-header>
      <ion-title>Alumno</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <ion-label>
            <strong>RUT:</strong> {{ usuario.rut }} <br>
            <strong>Nombre:</strong> {{ usuario.nombre }} <br>
            <strong>Apellido:</strong> {{ usuario.apellido }} <br>
            <strong>Usuario:</strong> {{ usuario.usuario }} <br>
            <strong>Carrera:</strong> {{ usuario.carrera }} <br>
            
             Muestra la región si está presente 
            <ng-container *ngIf="usuario.region">
              <strong>Región:</strong> {{ usuario.region.nombre }}<br>
            </ng-container>
        
             Muestra la comuna si está presente 
            <ng-container *ngIf="usuario.comuna">
              <strong>Comuna:</strong> {{ usuario.comuna.nombre }}<br>
            </ng-container>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content> -->