.custom-header {
    background-color: #0074c5;
    color: white;
  }
  
  .custom-card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card-header {
    background-color: #0074c5;
    color: white;
  }
  
  .custom-card-title {
    font-size: 24px;
  }
  
  .custom-card-content {
    padding: 16px;
  }
  
  .custom-button {
    background-color: #0074c5;
    color: white;
  }
  
  .custom-button:hover {
    background-color: #005692;
  }
  
  .custom-list {
    margin: 0;
    padding: 0;
  }
  
  .custom-label {
    font-size: 16px;
  }
  .custom-toolbar {
    background-color: #0074c5; /* Cambia el color de fondo */
    color: rgb(0, 0, 0); /* Cambia el color del texto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  .center-text {
    text-align: center;
  }
  
  .custom-back-button {
    color: white;
  }
  
  .custom-back-button:hover {
    color: #005692; /* Cambia el color al pasar el cursor */
  }